<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybaits.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.sisyphusj.community.app.auth.mapper.AuthMapper">

    <insert id="insertAuth">
        insert into user (username, password, name)
        values (#{username}, #{password}, #{name})
    </insert>

    <select id="selectAuthByUsername">
        select user_id, password
        from user
        where username = #{username}
    </select>

    <select id="selectCountByUsername">
        select count(*)
        from user
        where username = #{username}
    </select>

    <select id="selectCountByName">
        select count(*)
        from user
        where name = #{name}
    </select>

</mapper>