<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybaits.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.sisyphusj.community.app.comment.mapper.CommentMapper">

    <insert id="insertComment" parameterType="me.sisyphusj.community.app.comment.domain.CommentVO" useGeneratedKeys="true" keyProperty="commentId">
        insert into comments (parent_id, user_id, post_id, content)
        values (#{parentId}, #{userId}, #{postId}, #{content})
    </insert>

    <select id="selectCountComment" parameterType="long" resultType="int">
        select count(*)
        from comments
        where post_id = #{postId}
          and is_deleted = 'N'
    </select>

    <select id="selectCommentList" parameterType="long" resultMap="CommentWithImageList">
        select c.comment_id,
               c.parent_id,
               u.user_id,
               c.post_id,
               u.name,
               c.content,
               c.created_at as comment_created_at,
               c.updated_at,
               i.image_id,
               i.origin_name,
               i.stored_name,
               i.size,
               i.image_path,
               i.created_at as image_created_at
        from comments c
                 inner join user u on c.user_id = u.user_id
                 left join comment_image ci on c.comment_id = ci.comment_id
                 left join image i on ci.image_id = i.image_id and i.is_deleted = 'N'
        where c.is_deleted = 'N'
          and c.post_id = #{postId}
        order by c.created_at desc;
    </select>

    <select id="selectCommentListOrderByAsc" parameterType="long" resultType="me.sisyphusj.community.app.comment.domain.CommentVO">
        select comment_id,
               parent_id,
               u.user_id,
               c.post_id,
               u.name,
               content,
               created_at,
               updated_at
        from comments c
                 inner join user u on c.user_id = u.user_id
        where is_deleted = 'N'
          and post_id = #{postId}
    </select>

    <select id="selectComment" parameterType="long" resultType="me.sisyphusj.community.app.comment.domain.CommentVO">
        select comment_id,
               parent_id,
               u.user_id,
               c.post_id,
               u.name,
               content,
               created_at,
               updated_at
        from comments c
                 inner join user u on c.user_id = u.user_id
        where is_deleted = 'N'
          and u.user_id = #{userId}
          and comment_id = #{commentId}
    </select>

    <update id="editComment" parameterType="me.sisyphusj.community.app.comment.domain.CommentVO">
        update comments
        set content = #{content}
        where is_deleted = 'N'
          and user_id = #{userId}
          and comment_id = #{commentId}
    </update>

    <update id="deleteComment">
        update comments
        set is_deleted = 'Y'
        where comment_id in
        <foreach item="commentId" collection="deleteCommentIdList" open="(" separator="," close=")">
            #{commentId}
        </foreach>
    </update>

    <delete id="deleteCommentImage">
        delete from comment_image
        where comment_id in
        <foreach item="commentId" collection="deleteCommentIdList" open="(" separator="," close=")">
            #{commentId}
        </foreach>;
    </delete>

    <resultMap id="CommentWithImageList" type="me.sisyphusj.community.app.comment.domain.CommentVO">
        <id property="commentId" column="comment_id"/>
        <result property="parentId" column="parent_id"/>
        <result property="userId" column="user_id"/>
        <result property="postId" column="post_id"/>
        <result property="name" column="name"/>
        <result property="content" column="content"/>
        <result property="createdAt" column="comment_created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <collection property="images" javaType="java.util.List" ofType="me.sisyphusj.community.app.image.domain.ImageVO">
            <id property="imageId" column="image_id"/>
            <result property="originName" column="origin_name"/>
            <result property="storedName" column="stored_name"/>
            <result property="size" column="size"/>
            <result property="imagePath" column="image_path"/>
            <result property="createdAt" column="image_created_at"/>
        </collection>
    </resultMap>

</mapper>