<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybaits.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.sisyphusj.community.app.comment.mapper.CommentMapper">

    <insert id="insertComment" parameterType="me.sisyphusj.community.app.comment.domain.CommentVO">
        insert into comments (parent_id, user_id, post_id, content)
        values (#{parentId}, #{userId}, #{postId}, #{content})
    </insert>

    <select id="selectCountComment" parameterType="long" resultType="int">
        select count(*)
        from comments
        where post_id = #{postId}
          and is_deleted = 'N'
    </select>

    <select id="selectCommentOrderByDesc" parameterType="long" resultMap="commentList">
        select comment_id,
               u.user_id,
               parent_id,
               u.name,
               content,
               has_child,
               created_at,
               updated_at
        from comments c
                 inner join user u on c.user_id = u.user_id
        where is_deleted = 'N'
          and post_id = #{postId}
        order by created_at desc
    </select>

    <select id="selectCommentOrderByAsc" parameterType="long" resultMap="commentList">
        select comment_id,
               u.user_id,
               parent_id,
               u.name,
               content,
               has_child,
               created_at,
               updated_at
        from comments c
                 inner join user u on c.user_id = u.user_id
        where is_deleted = 'N'
          and post_id = #{postId}
    </select>

    <update id="updateCommentHasChild">
        update comments
        set has_child = #{hasChild}
        where comment_id = #{parentId}
    </update>

    <resultMap id="commentList" type="me.sisyphusj.community.app.comment.domain.CommentDetailVO">
        <id property="commentId" column="comment_id"/>
        <result property="userId" column="user_id"/>
        <result property="parentId" column="parent_id"/>
        <result property="author" column="name"/>
        <result property="content" column="content"/>
        <result property="hasChild" column="has_child" typeHandler="org.apache.ibatis.type.EnumTypeHandler" javaType="me.sisyphusj.community.app.comment.domain.HasChild"/>
        <result property="createdDate" column="created_at"/>
        <result property="updatedDate" column="updated_at"/>
    </resultMap>

</mapper>