<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybaits.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.sisyphusj.community.app.image.mapper.ImageMapper">

    <insert id="insertImageList" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="imageId">
        insert into image (user_id, origin_name, stored_name, size, image_path)
        values
        <foreach collection="list" item="image" separator=",">
            (#{image.userId}, #{image.originName}, #{image.storedName}, #{image.size}, #{image.imagePath})
        </foreach>
    </insert>

    <insert id="insertThumbnailImage" parameterType="me.sisyphusj.community.app.image.domain.ImageVO" useGeneratedKeys="true" keyProperty="imageId">
        insert into image (user_id, origin_name, stored_name, size, image_path)
        values (#{userId}, #{originName}, #{storedName}, #{size}, #{imagePath})
    </insert>

    <insert id="insertPostImageList" parameterType="java.util.List">
        insert into post_image (post_id, image_id)
        values
        <foreach collection="list" item="image" separator=",">
            (#{image.postId}, #{image.imageId})
        </foreach>
    </insert>

    <insert id="insertCommentImageList" parameterType="java.util.List">
        insert into comment_image (comment_id, image_id)
        values
        <foreach collection="list" item="image" separator=",">
            (#{image.commentId}, #{image.imageId})
        </foreach>
    </insert>

    <select id="selectPostImageList" parameterType="long" resultType="me.sisyphusj.community.app.image.domain.ImageVO">
        select i.image_id,
               pi.post_id,
               origin_name,
               stored_name,
               size,
               image_path,
               created_at
        from image i
                 inner join post_image pi on i.image_id = pi.image_id
        where pi.post_id = #{postId}
    </select>

    <select id="selectCommentImageList" parameterType="long" resultType="me.sisyphusj.community.app.image.domain.ImageVO">
        select i.image_id,
               ci.comment_id,
               origin_name,
               stored_name,
               size,
               image_path,
               created_at
        from image i
                 inner join comment_image ci on i.image_id = ci.image_id
        where ci.comment_id = #{commentId}
    </select>

    <select id="selectCountPostImage" parameterType="long" resultType="int">
        select count(*)
        from image i
                 inner join post_image pi on i.image_id = pi.image_id
        where i.user_id = #{userId}
          and pi.post_id = #{postId}
          and pi.image_id = #{imageId}
    </select>

    <select id="selectCountCommentImage" parameterType="long" resultType="int">
        select count(*)
        from image i
                 inner join comment_image ci on i.image_id = ci.image_id
        where i.user_id = #{userId}
          and ci.comment_id = #{commentId}
          and ci.image_id = #{imageId}
    </select>

    <select id="selectImagePath" parameterType="long" resultType="string">
        select image_path
        from image
        where image_id = #{imageId}
    </select>

    <delete id="deletePostImage" parameterType="long">
        delete
        from post_image
        where image_id = #{imageId}
    </delete>

    <delete id="deleteCommentImage" parameterType="long">
        delete
        from comment_image
        where image_id = #{imageId}
    </delete>

</mapper>
