<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybaits.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.sisyphusj.community.app.post.mapper.PostMapper">

    <insert id="insertPost" parameterType="me.sisyphusj.community.app.post.domain.PostVO" useGeneratedKeys="true" keyProperty="postId">
        insert into posts (user_id, title, content, has_image)
        values (#{userId}, #{title}, #{content}, #{hasImage, typeHandler=org.apache.ibatis.type.EnumTypeHandler})
    </insert>

    <select id="selectPostSummaryList" resultMap="postSummaryList">
        select post_id, u.name, title, views, created_at
        from posts p
        inner join user u on p.user_id = u.user_id
        where is_deleted = 'N'
        <choose>
            <when test="sortType.toString() == 'DATE'">
                ORDER BY created_at DESC
            </when>
            <when test="sortType.toString() == 'VIEWS'">
                ORDER BY views DESC, created_at DESC
            </when>
            <otherwise>
                ORDER BY created_at DESC
            </otherwise>
        </choose>
        limit #{amount} offset #{offset}
    </select>

    <select id="selectTotalCount" resultType="int">
        select count(*)
        from posts
        where is_deleted = 'N'
    </select>

    <select id="selectPostDetails" resultMap="postDetails">
        select post_id,
               u.user_id,
               u.name,
               title,
               content,
               views,
               has_image,
               created_at,
               updated_at
        from posts p
                 inner join user u on p.user_id = u.user_id
        where p.post_id = #{postId}
          and is_deleted = 'N'
    </select>

    <update id="updateViewsAndGet">
        update posts
        set views = views + 1
        where post_id = #{postId}
          and is_deleted = 'N'
    </update>

    <select id="selectCountPost" resultType="int">
        select count(*)
        from posts
        where post_id = #{postId}
          and user_id = #{userId}
          and is_deleted = 'N'
    </select>

    <update id="updatePost">
        update posts
        set title     = #{title},
            content   = #{content},
            has_image = #{hasImage, typeHandler=org.apache.ibatis.type.EnumTypeHandler}
        where post_id = #{postId}
    </update>

    <update id="deletePost">
        update posts
        set is_deleted = 'Y'
        where post_id = #{postId}
    </update>

    <resultMap id="postSummaryList" type="me.sisyphusj.community.app.post.domain.PostSummaryVO">
        <id property="postId" column="post_id"/>
        <result property="author" column="name"/>
        <result property="title" column="title"/>
        <result property="views" column="views"/>
        <result property="createdDate" column="created_at"/>
    </resultMap>

    <resultMap id="postDetails" type="me.sisyphusj.community.app.post.domain.PostDetailVO">
        <id property="postId" column="post_id"/>
        <result property="userId" column="user_id"/>
        <result property="author" column="name"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="hasImage" column="has_image" typeHandler="org.apache.ibatis.type.EnumTypeHandler" javaType="me.sisyphusj.community.app.post.domain.HasImage"/>
        <result property="views" column="views"/>
        <result property="createdDate" column="created_at"/>
        <result property="updatedDate" column="updated_at"/>
    </resultMap>

</mapper>